body {
    background-color: #eeeeee;
    /*
    display: flex;
    height: 100%;
    flex-direction: column;
    */
}

/* header */
.ui.fixed {
    background-color: #eeeeee;
}

.ui.menu .item img.logo {
	margin-right: 1em;
}

.header.item {
  font-size: 1.1em;
  color: #607d8b;
}

/* main */
main {
  /*
  flex: 1;
  overflow-y: scroll;
  */
  background-color: #fcfcfc;
  padding: 5em 0em 2em 0em;
}

.display-none {
  display: none;
}

.ui.page_title {
  font-weight: bold;
  font-size: 2em;
}

/* footer */
.ui.footer.segment {
	padding: 2em 0em;
	background-color: #eeeeee;
  border-top: 1px solid #dddddd;
}

.copyright {
  color: #1f1f1f;
  font-weight: bold;
  font-size: 1em;
}
